<ion-view >
        <ion-content>
        <div class="list listli">


		    <a class="item item-thumbnail-left   listli" href="#">
		      <img src="img/darkaids.jpg">
		      <h2 class="listh">Celebrity : DJ Shiru</h2>
		      <p class="listh">Nine Inch Nails</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/alikiba.jpg">
		      <h2 class="listh">Celebrity : Alikiba</h2>
		      <p class="listh">Nine Inch Nails</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/saha.jpg">
		      <h2 class="listh">Celebrity :   King Saha</h2>
		      <p class="listh">Latest event : mulirwana launch</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/alikiba.jpg">
		      <h2 class="listh">Celebrity :   Ziza Bafana</h2>
		      <p class="listh">Latest event : sagala ntalo launch</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/blueaids.jpg">
		      <h2 class="listh">Celebrity :   Radio and Weasal</h2>
		      <p class="listh">Latest event : Neela launch</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/darkaids.jpg">
		      <h2 class="listh">Celebrity :   Diamond platinumz</h2>
		      <p class="listh">Latest event : number one launch</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/chameleone.jpg">
		      <h2 class="listh">Celebrity :   Khalifah aganaga</h2>
		      <p class="listh">Latest event : muzindaalo launch</p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>
		    <a class="item item-thumbnail-left listli" href="#">
		      <img src="img/blueaids.jpg">
		      <h2 class="listh">Celebrity :   Dj Katz</h2>
		      <p class="listh">Latest event : Ambiance mix show </p>
		      <span><i class="icon ion-android-star-outline myiconitem">  Make Favourite</i>&nbps<i class="icon ion-music-note myiconitem"> Start listening</i></span>
		    </a>

   

       		
		</div >
		
			
		</ion-content>
</ion-view>

