<ion-view >
        <ion-content>
                <div class="list card">

                  <div class="item item-avatar">
                    <img src="img/alikiba.jpg">
                    <h1>Alikiba</h1>
                    <p>November 05, 1985</p>
                  </div>

                  <div class="item item-body">
                    <img class="full-image" src="img/alikiba.jpg">
                  </div>
                    
                  <div class="item item-body">
                          <a href="#" class="item item-icon-left">
                            <i class="icon ion-home"></i>
                            Enter home address
                          </a>

                          <a href="#" class="item item-icon-left">
                            <i class="icon ion-ios-telephone"></i>
                            Enter phone number
                          </a>

                          <a href="#" class="item item-icon-left">
                            <i class="icon ion-wifi"></i>
                            Enter wireless password
                          </a>

                          <a href="#" class="item item-icon-left">
                            <i class="icon ion-card"></i>
                            Enter card information
                          </a>

                     
                    <p>
                      
                      <h2><a href="#" class="item item-icon-left myiconitem">

                             <i class="icon ion-heart myiconitem"> </i>
                               Become fan


                            
                          </a></h2>
                       
                    </p>
                  </div>

                </div>
            </ion-card-content>
        </div>
  </ion-content>
</ion-view>

