<ion-view hide-nav-bar="false">

        <ion-content>
        <div class="list">

       		<div class="list card">

			  <div class="item item-avatar">
			    <img src="img/ionic.png">
			    <h2>Battle of the champions</h2>
			    <p>@Kati kati #23/01/2016</p>
			  </div>

			  <div class="item item-image">
			    <img src="img/chameleone.jpg">
			  </div>

			  <a class="item item-icon-left assertive myiconitem" href="#">
			    <i class="icon ion-music-note"></i>
			    Start listening
			  </a>

			</div>
						
			<div class="list card">

			  <div class="item item-avatar">
			    <img src="img/weed.png">
			    <h2 >Mulirwana Concert </h2>
			    <p >@Theatre Labonita #22/01/2016</p>
			   
			  </div>

			  <div class="item item-image">
			    <img src="img/saha.jpg">
			  </div>

			  <a class="item item-icon-left assertive myiconitem" href="#">
			    <i class="icon ion-music-note"></i>
			    Start listening
			  </a>

			</div>
		</div >
		
			
		</ion-content>
</ion-view>

	